<div class="grid min-h-screen overflow-x-hidden lg:grid-cols-[280px_1fr]">
  <div class="hidden border-r bg-gray-100/40 lg:block dark:bg-gray-800/40">
    <div class="flex h-full max-h-screen flex-col gap-2">
      <div class="flex-1 overflow-auto py-2 mt-2">
        <nav class="grid items-start px-4 text-sm font-medium">
          <a
            class="flex items-center gap-3 rounded-lg px-3 py-2 text-gray-500 transition-all hover:text-gray-900 dark:bg-gray-800 dark:text-gray-50 dark:hover:text-gray-50"
            routerLink="/dashboard"
            routerLinkActive="bg-gray-100 text-gray-900"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <products-icon />
            Product Management
          </a>
          <a
            class="flex items-center gap-3 rounded-lg px-3 py-2 text-gray-500 transition-all hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-50"
            routerLink="/dashboard/account"
            routerLinkActive="bg-gray-100 text-gray-900"
          >
            <account-icon />
            Account
          </a>
        </nav>
      </div>
    </div>
  </div>
  <div class="flex flex-col">
    <router-outlet></router-outlet>
  </div>
</div>
