<ul class="hidden md:flex items-center gap-10">
  <li>
    <a class="navbar" routerLink="/home" routerLinkActive="navbar-active"
      >Home</a
    >
  </li>
  <li>
    <a
      class="navbar"
      routerLink="/products"
      routerLinkActive="navbar-active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Products</a
    >
  </li>
  <li *ngIf="isLoggedIn()">
    <a
      class="navbar"
      routerLink="/products/create"
      routerLinkActive="navbar-active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Add Product</a
    >
  </li>
  <li>
    <a
      class="relative navbar"
      routerLink="/cart"
      routerLinkActive="navbar-active"
    >
      <span
        class="absolute text-[12px] leading-5 -right-3 -top-2 bg-red-500 rounded-full text-center text-white w-[20px] h-[20px]"
        >{{ cartCount() }}</span
      >
      <cart-icon />
    </a>
  </li>
  <li *ngIf="!isLoggedIn()">
    <button class="navbar" (click)="login()">Login</button>
  </li>
  <li *ngIf="isLoggedIn()">
    <a class="navbar" routerLink="/dashboard" routerLinkActive="navbar-active">
      <p>{{ user()!.displayName }}</p>
    </a>
  </li>
  <li *ngIf="isLoggedIn()">
    <button class="navbar" (click)="logout()">Logout</button>
  </li>
</ul>
