<div *ngIf="review" class="flex items-start gap-4 my-6">
  <img
    [src]="review.photoUrl ?? '/assets/pf.png'"
    alt="profile"
    class="relative flex shrink-0 overflow-hidden rounded-full w-10 h-10"
  />
  <div
    (mouseenter)="setMouseOver(true)"
    (mouseleave)="setMouseOver(false)"
    class="w-full grid gap-1"
  >
    <div class="flex justify-between">
      <div class="flex items-center gap-2">
        <div class="font-medium">{{ review.username }}</div>
        <div class="flex items-center gap-0.5">
          <star-icon [class]="isRated(1)" />
          <star-icon [class]="isRated(2)" />
          <star-icon [class]="isRated(3)" />
          <star-icon [class]="isRated(4)" />
          <star-icon [class]="isRated(5)" />
        </div>
      </div>
      <remove-icon
        *ngIf="mouseOver && ownReview()"
        class="hidden hover:text-red-500 hover:cursor-pointer md:block"
        (click)="removeReview()"
      />

      <!-- Mobile -->
      <remove-icon
        *ngIf="ownReview()"
        class="hover:text-red-500 hover:cursor-pointer md:hidden"
        (click)="removeReview()"
      />
    </div>
    <p class="text-gray-600">
      {{ review.message }}
    </p>
  </div>
</div>
